@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');


@import "tailwindcss";
@import "./css/Fonts.css";
@import "./css/Text.css";


body {
  font-family: 'SeasonMix', serif;
}

:root{
  --font-dm: "DM Sans", sans-serif;
  --font-noto-serif: "Noto Serif", serif;
  
  --text-greenbase: #71ac61;
  --bg-greenbase: #c2e0ba;
 
  --bg-greenbase-primary: #71ac61;
  --border-greenbase: "#71ac61";

   /* Custom colors */
  --secondary-Text: #696969;
  --primary-Text: #191919;
  --gray-Text: #706E6E;
}

/* font  */
.font-noto {
  font-family: var(--font-noto-serif);
}

.font-dm {
  font-family: var(--font-dm);
}


/* text colors */
.text-greenbase {
  color: var(--text-greenbase);
}

.bg-greenbase {
  background-color: var(--bg-greenbase);
}
.bg-greenbase-primary {
  background-color: var(--bg-greenbase-primary);
}
.border-greenbase {
  border-color: var(--border-greenbase);
}


/* text colors */

.text-secondary {
  color: var(--secondary-Text);
}

.text-primary {
  color: var(--primary-Text);
}

.text-gray {
  color: var(--gray-Text);
}



@custom-variant dark (&:where(.dark, .dark *));

/* CUSTOM GREEN SCROLLBAR */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #E8F5E9;
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg,#059669, #4F7942);
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(90deg, #059669, #3F6535);
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #059669 #E8F5E9;
  margin: 20px 0;
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}