@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* CUSTOM GREEN SCROLLBAR */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #E8F5E9;
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg,#059669, #4F7942);
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(90deg, #059669, #3F6535);
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #059669 #E8F5E9;
  margin: 20px 0;
}